
.btn-me{
    background-color: #E78A6E;
    color:white;
}

.btn-me:hover{
    color:#E78A6E;
background-color: white;
border: #E78A6E 1px solid;
}

.btn-me-outline{
background-color: white;
border: 1px solid #E78A6E;
color:#E78A6E;
}

.btn-me-outline:hover{
    color:white;
background-color:  #E78A6E;
border: #E78A6E 1px solid;
}

.text-orange{
    color:#D78369;
}

.foto-profile {
	width: 213px;
	float: left;
	margin-right: 25px;
}

a{
    color:grey;
text-decoration: none;
}

a:hover{
    color:#D78369;
}

.menu-active{
    color:#D78369;
}

#ticket {
  background: white;
  margin: 0 1em;
  padding: 1em;
  box-shadow: 0 0 5px rgba(0,0,0,.25);
}
#ticket h1 {
  text-align: center;
}
#ticket table {
  font-family: monospace;
  width: 100%;
  border-collapse: collapse;
}
#ticket td, #ticket th {
  padding: 5px;
}
#ticket th {
  text-align: left;
}
#ticket td, #ticket #total {
  text-align: right;
}
#ticket tfoot th {
  border-top: 1px solid black;
}

.total-font {
    font-size: 23px;
}

.input-kode {
    width: 495px;
}

.kode-font {
    width: 470px;
    color: red;
}
